@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Helvetica;
  }
  @font-face {
    font-family: Helvetica;
    font-weight: 300;
    src: url("../src/public/fonts/HelveticaLight.ttf");
  }
  @font-face {
      font-family: Helvetica;
      font-weight: 400;
      src: url("../src/public/fonts/Helvetica.ttf");
  }
  @font-face {
      font-family: Helvetica;
      font-weight: 600;
      src: url("../src/public/fonts/HelveticaBold.ttf");
  }
  @font-face {
      font-family: Helvetica;
      font-weight: 400;
      font-style: italic;
      src: url("../src/public/fonts/HelveticaItalic.ttf");
  }
  @font-face {
      font-family: Helvetica;
      font-weight: 600;
      font-style: italic;
      src: url("../src/public/fonts/HelveticaBoldItalic.ttf");
  }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    
    .main-gradient {
      background: linear-gradient(to right, #011E3A, #1F5181);
    }

    .submain-gradient {
      background: linear-gradient(to right, #012D57, #488ED1);
    }

    .main-url {
      text-decoration: underline;
      font-style: italic;
      color: #2AABE2;
    }
}

h2,h3 {
  font-weight: bolder;
  font-style: italic;
  color: #53678C;
  font-size: 1.25rem; 
  line-height: 1.75rem; 
  margin-top: 1rem;
  margin-bottom: 1rem; 
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}